<div class="card overflow-scroll h-100">
  <div class="card-header">
    Employee List
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
      <span class="w-25 text-start">Name</span>
      <span class="w-25 text-start">Salary</span>
      <span class="w-25 text-start">Age</span>
      <span class="w-25 text-start"></span>
    </li>
  </ul>
  <ul class="list-group list-group-flush overflow-scroll" style="height: 95%">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let emp of employeeslist">
      <span class="w-25 text-start">{{emp.profile_image}} {{emp.employee_name}}</span>
      <span class="w-25 text-start">{{emp.employee_salary | currency:'USD':'symbol' : '1.0-0'}}</span>
      <span class="w-25 text-start">{{emp.employee_age}}</span>
      <span class="w-25 text-start">
        <button (click)="onRemove(emp)" class="mx-1 btn btn-danger">X</button>
        <button (click)="onEdit(emp)" class="mx-1 btn btn-warning">Edit</button>
      </span>
    </li>
  </ul>
</div>
